<h1>Cześć! Potwierdź swój email</h1>

<p>
    Aby potwierdzić rejestrację kliknij w link poniżej: <br><br>
    <a href="{{ signedUrl|raw }}">Potwierdz email</a>.
    Ten link będzie aktywny do {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.<br><br>
    {{ currencyInfo|raw }}
</p>
<p>
    Pozdrówka!
</p>
