{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
        Zaznacz które waluty mamy dla ciebie śledzić:<br>
    {{ form_end(registrationForm) }}
{% endblock %}
